VITE_SUPABASE_URL=https://doecqoglsbxwfghxftrk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_UA475iwK4V3RDmvhifaaaQ_aLfJ3RtZ
DATABASE_URL=postgresql://postgres:1211RhMaster1211@db.doecqoglsbxwfghxftrk.supabase.co:5432/postgres
